<div class="p-4">
    <h2>Lista de Pedidos</h2>
  
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <input type="number" id="codigoPedido" pInputText [(ngModel)]="filters.codigoPedido" />
          <label for="codigoPedido">Código Pedido</label>
        </span>
      </div>
  
      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <input type="date" id="dataPedido" pInputText [(ngModel)]="filters.dataPedido" />
          <label for="dataPedido">Data Pedido</label>
        </span>
      </div>
  
      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <input type="number" id="codigoStatus" pInputText [(ngModel)]="filters.codigoStatus" />
          <label for="codigoStatus">Código Status</label>
        </span>
      </div>
  
      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <input type="number" id="codigoProduto" pInputText [(ngModel)]="filters.codigoProduto" />
          <label for="codigoProduto">Código Produto</label>
        </span>
      </div>
  
      <div class="p-col-12 p-md-3">
        <span class="p-float-label">
          <input type="number" id="codigoCliente" pInputText [(ngModel)]="filters.codigoCliente" />
          <label for="codigoCliente">Código Cliente</label>
        </span>
      </div>
  
      <div class="p-col-12 p-md-3">
        <button pButton label="Buscar" icon="pi pi-search" (click)="buscarPedidos()"></button>
      </div>
    </div>
  
    <p-table [value]="pedidos" [paginator]="true" [rows]="10" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Código Pedido</th>
          <th>Data Pedido</th>
          <th>Código Status</th>
          <th>Código Produto</th>
          <th>Código Cliente</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
        <tr>
          <td>{{ pedido.codigoPedido }}</td>
          <td>{{ pedido.dataPedido }}</td>
          <td>{{ pedido.codigoStatus }}</td>
          <td>{{ pedido.codigoProduto }}</td>
          <td>{{ pedido.codigoCliente }}</td>
        </tr>
      </ng-template>
    </p-table>
</div>